
<body>


<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="image"><%= image_tag movie.poster %></div>
      <div class="caption">
        <h3><%=movie.name%></h3>
        <p><%=movie.duration %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>




</body>
